<?xml version="1.0" encoding="UTF-8" ?>
<extentreports>
    <configuration>
    <theme>dark</theme>
    	
        <encoding>UTF-8</encoding>
        <documentTitle>WingsAutomatioReport</documentTitle> <!-- This title will be displayed as browser title for the page -->
        <reportName><![CDATA[
                <img  width="150"  height="48" align="left" vspace="00" src="https://assets.sourcemedia.com/dims4/default/938b571/2147483647/resize/800x450%3E/quality/90/?url=https%3A%2F%2Fassets.sourcemedia.com%2F56%2F44%2Fb4ef2fcd4a60ba764e545f75bfc7%2Fvsoft-logo-01.png" />
            ]]></reportName>
            
     
      <!--  <reportHeadline>AUTOMATION REPORT</reportHeadline>-->
        <reportHeadline><![CDATA[
              <span class="report-headline" align="center" style="font-size: 150%;font-weight:bold;background: ;margin-left:20%;position: absolute;">SOMKE TESTING AUTOMATION TEST REPORT for WINGS</span>
            ]]></reportHeadline>
            
            
            <dashboard-view><![CDATA[
              <a class="dashboard-view" style="background-color:red" />
            ]]></dashboard-view>
            
            
            
            <test-head><![CDATA[
             
             $('#divhtml').find('span').remove()
             
             
            ]]></test-head>
            
           
            
          
            
           
        
        <!-- custom styles -->
<styles>
   <![CDATA[
            .report-name { padding-left: 0px; } .report-name > img { float: left;height: 50;margin-left: -70px;margin-top: 0px;width:150; }
        ]]>
               <![CDATA[
          .blue.darken-2 {display:none; }
        ]]> 
         <![CDATA[
          .nav-right li:last-child {display:none; }
        ]]> 
        
        <![CDATA[
          element.style {display:none; }
        ]]>
        
        <![CDATA[
          .waves-effect {background-color:red; }
        ]]>
        
</styles>




        // allow automatic saving of media files relative to the report
htmlReporter.config().setAutoCreateRelativePathMedia(true);
    </configuration>
     
</extentreports>


